<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255421501651-tjijn7njgsbfkv0kuvgoktt9a03k3bav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255421501651-tjijn7njgsbfkv0kuvgoktt9a03k3bav</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>255421501651-jokoct8fr0plh8519f05ujtsrepo5jia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLzHot4gxPLppUW5iTJ__6t45aOi6wtMg</string>
	<key>GCM_SENDER_ID</key>
	<string>255421501651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tvlive</string>
	<key>PROJECT_ID</key>
	<string>tvvd-30da6</string>
	<key>STORAGE_BUCKET</key>
	<string>tvvd-30da6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255421501651:ios:89064eb5b78f1fe4010426</string>
</dict>
</plist>